<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Word Test</title>
  </head>
  <body>
    <h1><a href="/study?mode=insert">Go Study! ➡</a></h1>

    <h2>Average: <span id="display_average" class="color_blue">--</span></h2>

    <canvas id="myChart"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="client/home/chart_home.js"></script>
    <script src="client/home/home.js"></script>
  </body>
</html>
