<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/index.css" />
    <title>Word Test</title>
  </head>
  <body>
    <h1>Word Test</h1>
    <h3>Study words simply by <span class="color_blue">just typing</span>!</h3>

    <div class="div_ui">
      <a href="/signin" class="ui background_blue">Sign In</a>
      <a href="/signup" class="ui background_blue">Sign Up</a>
    </div>
  </body>
</html>
