<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/study/insert.css" />
    <title>Word Test</title>
  </head>
  <body>
    <h3>
      <span class="color_blue"
        ><span class="color_blue" id="words_num">0</span> words</span
      >
      are inserted.
    </h3>

    <div class="margin" id="words">
      <!-- <span class="background_blue word">Suspicious</span> -->
    </div>

    <input type="text" id="input_word" placeholder="Word" /><br />
    <input type="text" id="input_meaning" placeholder="Meaning" /><br />
    <button class="background_blue" id="add">Add</button>
    <button hidden class="background_blue" id="test">Go Test</button>

    <script src="client/study/insert.js"></script>
  </body>
</html>
