<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/study/test.css" />
    <title>Word Test</title>
  </head>
  <body>
    <h3><span class="color_blue" id="currentWordCount">1</span> / <span id="wordLen">--</span></h3>
    <h3 id="display"></h3>

    <main>
      <h2 id="word_prob">--</h2>
      <input type="text" id="input_word" placeholder="Meaning"><br>
      <button hidden class="background_blue" id="btn">Submit</button>
    </main>

    <script src="client/study/test.js"></script>
  </body>
</html>
